{% set oxidBlock_content %}{{ oxidBlock_content }}

    {# ordering steps #}
    {% include "page/checkout/inc/steps.html.twig" with {active: 1} %}

    {% block checkout_basket_main %}
        {% set currency = oView.getActCurrency() %}
        {% if not oxcmp_basket.getProductsCount() %}
            {% block checkout_basket_emptyshippingcart %}
                <div class="status corners error">{{ translate({ ident: "BASKET_EMPTY" }) }}</div>
            {% endblock %}
        {% else %}
            {% block checkout_basket_next_step_top %}
                <div class="lineBox clear">
                    {% if oView.showBackToShop() %}
                        {% block checkout_basket_backtoshop_top %}
                            <div class="backtoshop">
                                <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
                                    {{ oViewConf.getHiddenSid() }}
                                    <input type="hidden" name="cl" value="basket">
                                    <input type="hidden" name="fnc" value="backtoshop">
                                    <button type="submit" class="submitButton largeButton">{{ translate({ ident: "CONTINUE_SHOPPING" }) }}</button>
                                </form>
                            </div>
                        {% endblock %}
                    {% endif %}

                    {% if oView.isLowOrderPrice() %}
                        {% block checkout_basket_loworderprice_top %}
                            <div>{{ translate({ ident: "MIN_ORDER_PRICE" }) }} {{ oView.getMinOrderPrice() }} {{ currency.sign }}</div>
                        {% endblock %}
                    {% else %}
                        {% block basket_btn_next_top %}
                            <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
                                {{ oViewConf.getHiddenSid() }}
                                <input type="hidden" name="cl" value="user">
                                <button type="submit" class="submitButton largeButton nextStep">{{ translate({ ident: "CONTINUE_TO_NEXT_STEP" }) }}</button>
                            </form>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}

            <div id="basketContainer" class="lineBox">
                {% include "page/checkout/inc/basketcontents.html.twig" with {editable: true} %}

                {% if oViewConf.getShowVouchers() %}
                    {% block checkout_basket_vouchers %}
                        {{ script({ include: "js/widgets/oxinputvalidator.js", priority: 10, dynamic: __oxid_include_dynamic }) }}
                        {{ script({ add: "$('form.js-oxValidate').oxInputValidator();", dynamic: __oxid_include_dynamic }) }}
                        <div id="basketVoucher">
                            <form name="voucher" action="{{ oViewConf.getSelfActionLink() }}" method="post" class="js-oxValidate">
                                <div class="couponBox" id="coupon">
                                    {% for key, oEr in Errors.basket %}
                                        {% if oEr.getErrorClassType() == 'oxVoucherException' %}
                                            <div class="inlineError">
                                                {{ translate({ ident: "COUPON_NOT_ACCEPTED", args: oEr.getValue('voucherNr') }) }}
                                                <strong>{{ translate({ ident: "REASON", suffix: "COLON" }) }}</strong>
                                                {{ oEr.getOxMessage() }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <label>{{ translate({ ident: "ENTER_COUPON_NUMBER", suffix: "COLON" }) }}</label>
                                    {{ oViewConf.getHiddenSid() }}
                                    <input type="hidden" name="cl" value="basket">
                                    <input type="hidden" name="fnc" value="addVoucher">
                                    <input type="text" size="20" name="voucherNr" class="textbox js-oxValidate js-oxValidate_notEmpty">
                                    <button type="submit" class="submitButton">{{ translate({ ident: "SUBMIT_COUPON" }) }}</button>
                                    <p class="oxValidateError">
                                        <span class="js-oxError_notEmpty">{{ translate({ ident: "ERROR_MESSAGE_INPUT_NOTALLFIELDS" }) }}</span>
                                    </p>
                                    <input type="hidden" name="CustomError" value='basket'>
                                </div>
                            </form>
                        </div>
                    {% endblock %}
                {% endif %}
            </div>

            {% block checkout_basket_next_step_bottom %}
                <div class="lineBox clear">
                    {% if oView.showBackToShop() %}
                        {% block checkout_basket_backtoshop_bottom %}
                            <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
                                <div class="backtoshop">
                                    {{ oViewConf.getHiddenSid() }}
                                    <input type="hidden" name="cl" value="basket">
                                    <input type="hidden" name="fnc" value="backtoshop">
                                    <button type="submit" class="submitButton largeButton">{{ translate({ ident: "CONTINUE_SHOPPING" }) }}</button>
                                </div>
                            </form>
                        {% endblock %}
                    {% endif %}

                    {% if oView.isLowOrderPrice() %}
                        {% block checkout_basket_loworderprice_bottom %}
                            <div>{{ translate({ ident: "MIN_ORDER_PRICE" }) }} {{ oView.getMinOrderPrice() }} {{ currency.sign }}</div>
                        {% endblock %}
                    {% else %}
                        {% block basket_btn_next_bottom %}
                            <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
                                {{ oViewConf.getHiddenSid() }}
                                <input type="hidden" name="cl" value="user">
                                <button type="submit" class="submitButton largeButton nextStep">{{ translate({ ident: "CONTINUE_TO_NEXT_STEP" }) }}</button>
                            </form>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
            {% block basket_widget_bestseller %}
                {{ include_widget({ cl: "oxwActions", action: "oxtop5", listtype: "grid" }) }}
            {% endblock %}
        {% endif %}
        {% if oView.isWrapping() %}
           {% include "page/checkout/inc/wrapping.html.twig" %}
        {% endif %}
    {% endblock %}
{% endset %}

{% include "layout/page.html.twig" %}
