{% set oxidBlock_content %}{{ oxidBlock_content }}

    {# ordering steps #}
    {% include "page/checkout/inc/steps.html.twig" with {active: 5} %}

    {% block checkout_thankyou_main %}
        {% set order = oView.getOrder() %}
        {% set basket = oView.getBasket() %}

        <div id="thankyouPage">
            <h3 class="blockHead">{{ translate({ ident: "THANK_YOU" }) }}</h3>

            {% block checkout_thankyou_info %}
                {{ translate({ ident: "THANK_YOU_FOR_ORDER" }) }} {{ oxcmp_shop.oxshops__oxname.value }}. <br>
                {{ translate({ ident: "REGISTERED_YOUR_ORDER", args: order.oxorder__oxordernr.value }) }} <br>
                {% if not oView.getMailError() %}
                    {{ translate({ ident: "MESSAGE_YOU_RECEIVED_ORDER_CONFIRM" }) }}<br>
                {% else %}<br>
                    {{ translate({ ident: "MESSAGE_CONFIRMATION_NOT_SUCCEED" }) }}<br>
                {% endif %}
                <br>
                {{ translate({ ident: "MESSAGE_WE_WILL_INFORM_YOU" }) }}<br><br>
            {% endblock %}

            {% block checkout_thankyou_proceed %}
                {{ translate({ ident: "YOU_CAN_GO" }) }}
                <a id="backToShop" rel="nofollow" href="{{ seo_url({ ident: oViewConf.getHomeLink() }) }}" class="link">{{ translate({ ident: "BACK_TO_START_PAGE" }) }}</a>
                {% if oxcmp_user.oxuser__oxpassword.value %}
                    {{ translate({ ident: "OR" }) }}
                    <a id="orderHistory" rel="nofollow" href="{{ seo_url({ ident: oViewConf.getSelfLink()|cat("cl=account_order") }) }}" class="link">{{ translate({ ident: "CHECK_YOUR_ORDER_HISTORY" }) }}</a>.
                {% endif %}
            {% endblock %}

            {% block checkout_thankyou_partners %}
            {% endblock %}

            {% if oView.getAlsoBoughtTheseProducts() %}
                <br><br>
                <h1 class="pageHead">
                     {{ translate({ ident: "WHO_BOUGHT_ALSO_BOUGHT", suffix: "COLON" }) }}
                </h1>
                {% include "widget/product/list.html.twig" with {type: oView.getListDisplayType(), listId: "alsoBoughtThankyou", products: oView.getAlsoBoughtTheseProducts(), blDisableToCart: true} %}
            {% endif %}
        </div>
    {% endblock %}
{% endset %}
{% include "layout/page.html.twig" %}
